@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: currentColor;

    font-family: var(--font-family);
}

:root {
    --white: #fff;
    --black: #000;

    --gray-100: #f2f2f2;
    --gray-200: #d9d9d9;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-500: #262626;
    --gray-600: #1a1a1a;
    --gray-700: #0d0d0d;

    --black-transparent: rgba(00, 00, 00, 0.8);

    --purple-500: #8284FA;
    --purple-600: #5E60CE;
    --purple-700: #282868;
    --purple-gradient: linear-gradient(90deg, var(--purple-600) 0%, var(--purple-500) 100%);

    --price-gradient: linear-gradient(50deg, var(--purple-700) 50%, var(--purple-600) 100%);
    --blue-gradient: linear-gradient(50deg, var(--blue-500) 0%, var(--blue-600) 100%);

    --danger-500: #E25858;

    --success-500: #04D361;

    --yellow-500: #FFBA08;

    --green-500: #00875F;

    --orange: #FF8F00;

    --blue-500: #61dafb;
    --blue-600: #2B72E0;

    --font-family: 'Chakra Petch', sans-serif;
}

/* GLOBAL */

.hidden {
    display: none !important;
}	

.line {
    width: 100%;
    height: 1px;
    background-color: var(--gray-200);

    margin: 1rem 0;
    border-radius: 10px;
    filter: blur(0.5px);
    opacity: 0.3;
}

.blur-line {
    width: 100%;
    height: 100px;

    /* background-color: var(--gray-200); */

    /* margin: 1rem 0; */
    border-radius: 10px;

    /* filter: blur(0.5px); */
    /* opacity: 0.3; */

    inset: 10%;
    /* backdrop-filter: blur(1px); */
    background-color: var(--gray-700);
    mask: linear-gradient(180deg, transparent, var(--gray-700) 30%);
    -webkit-mask: linear-gradient(180deg, transparent, var(--gray-700) 30%);

    z-index: 99;
}

.bubble {
    position: absolute;

    filter: blur(100px);
    opacity: 0.4;

    background: var(--purple-gradient);
    border-radius: 100%;

    width: 600px;

    animation: bubble 8s infinite;
    z-index: -1;
}

@keyframes bubble {
    0%, 100% {
        transform: translateX(0);
        rotate: 0;
    }
    50% {
        transform: translateX(100px);
        rotate: 70deg;
    }
}


.sharp-button {
    width: 200px;
    height: 50px;
    background: var(--purple-gradient);

    border: none;
    color: var(--white);
    filter: brightness(0.9);
    font-size: 20px;
    cursor: pointer;

    /* border-radius: 5px; */
    border: 1px solid var(--purple-600);
    clip-path: polygon(0 0,100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%);

    transition: filter 0.2s;
    text-transform: uppercase;
}

.sharp-button:hover {
    filter: brightness(1);
}

.gradient {
    background: -webkit-gradient(linear, left top, right top, from(var(--blue-500)), to(var(--purple-600)));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

/* Scroll */

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--gray-600);
}

::-webkit-scrollbar-thumb {
    background-color: var(--purple-500);
    border-radius: 10px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;

    background-color: var(--gray-600);

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
    z-index: 101;
}

.logo-search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 2rem;
    cursor: pointer;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 300px;
    height: 40px;

    background-color: var(--gray-500);

    border: 1px solid var(--purple-500);
    opacity: 0.5;
    padding: 0 10px;
    color: white;
    outline: none;

    font-size: 18px;
    transition: 0.2s;
}

.search input::placeholder {
    color: var(--purple-500)
}

.search input:focus {
    opacity: 1;
}

.search i {
    transform: translateX(-30px);
    color: var(--purple-500);
    cursor: pointer;
}

header nav ul {
    display: flex;
    gap: 20px;
    margin-right: 2rem;
    font-size: 20px;
    align-items: center;
}

header nav ul li {
    cursor: pointer;
    transition: 0.2s;
}

header nav ul li:hover {
    color: var(--purple-500);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gray-700);
}

main {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    min-height: 100vh;
    color: var(--gray-200);
}

.main-text {
    color: var(--gray-200);

    margin-top: 50px;
}

.main-text h1 {
    font-size: 50px;
}

.main-text p {
    font-size: 20px;
}

.first-seen {
    position: relative;
    display: flex;
    flex-direction: column;

    height: calc(60vh + 100px);

    gap: 1.5rem;
}

.main-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    top: 10%;

    filter: brightness(0.85);

    animation: up-down 7s ease-in-out infinite;

    z-index: -1;
}


/* Cards */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 50px;
}

.cards-container .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: calc((100% / 3) - 3rem);
    min-width: 400px;
    height: 300px;

    border-radius: 10px;
    margin: 1rem;
    cursor: default;
    transition: 0.2s;
    filter: brightness(0.9);

    padding: 20px;
    clip-path: 	polygon(0 0,100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%);
}

.cards-container .card::before {
    z-index: -2;
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-color: var(--purple-600);
    clip-path: polygon(0 0,100% 0,100% calc(100% - 40px),calc(100% - 40px) 100%,0 100%);
}

.cards-container .card::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
    background-color: var(--gray-600);
    clip-path: polygon(0 0,100% 0,100% calc(100% - 40px),calc(100% - 40px) 100%,0 100%);
}

.cards-container .card:hover {
    filter: brightness(1.1);
}

.cards-container .card-img {
    fill: var(--blue-500);
    height: 35px;
}

.cards-container .card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* height: 200px; */

    margin-top: 20px;

    gap: 1rem;
}

.cards-container .card-text h2 {
    margin-top: 10px;

    color: var(--blue-500);
}

.cards-container .card-button {
    position: absolute;
    bottom: 20px;
}

/**/

.elysium {
    display: flex;

    align-items: center;
}

.elysium-text {
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    gap: 1.5rem;
}

.elysium-text h1 {
    font-size: 50px;
}

.elysium-text p {
    font-size: 20px;
}

.logo-effect {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-effect img:nth-child(1) {
    position: absolute;
    z-index: 1;

    filter: drop-shadow(0 0 10px var(--purple-600));
    left: 50%;
    transform: translate(-50%, -50%);

    animation: up-down 4s infinite;
}

.logo-effect img:nth-child(2) {
    opacity: 0.6;
    position: relative;
    left: 10%;

    transform: translate(0%, -10%);
    rotate: -180deg;
}

.logo-effect img:nth-child(3) {
    position: absolute;

    top: 60%;
    left: 56%;

    width: 150px;
    height: 150px;

    transform: translate(-50%, -50%);

    animation: opacity 4s infinite;
}

@keyframes up-down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes opacity {
    0%, 100% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.2;
    }
}

/* Prices */

.prices {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 100px;
    padding-bottom: 100px;
}

.price-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 1rem;
    background: var(--price-gradient);
    padding: 20px;
    border-radius: 10px;
}

.price-card.pro {
    position: relative;
}

.price-card.pro > span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 180px;
    height: 180px;

    top: -15%;
    right: -15%;

    background: var(--blue-gradient);
    border-radius: 100%;

    filter: drop-shadow(0 0 20px var(--blue-600)) blur(0.5px);
}

.price-card.pro > span img {
    width: 100px;
    height: 100px;
}

.price-card.pro > span img:nth-child(2) {
    position: absolute;
    width: 150px;
    height: 150px;

    animation: rotate 15s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.discount p {
    font-size: 20px;
}

.dash {
    position: relative;
    width: 100%;
    text-align: center;

    font-size: 40px;
    font-weight: bold;
    font-family: var(--font-family);

    color: var(--purple-500);
}

.dash::before {
    content: "";
    position: absolute;
    background: var(--danger-500);
    
    left: 0;
    top: 50%;

    width: 100%;
    height: 2px;

    border-radius: 5px;
}

.price-card-text {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.price-card-text div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-card-text h1 {
    font-size: 50px;
    color: var(--blue-500);
}

.price-card-text p {
    font-size: 20px;
}

.price-card-list {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.price-card-list li {
    background-image: url(img/icon-check.svg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left: 1rem;
}

/* .price-card-list .special {
    background-color: var(--blue-600);
    padding: 15px 10px;
    transform: translateX(-10px);
    border-radius: 5px;
} */

footer {
    background-color: var(--gray-600);
    color: var(--gray-200);

    z-index: 201;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px 50px;
    z-index: 201;
}

.footer .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
}

.footer .copyright {
    font-size: 18px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.social > div {
    display: flex;
    align-items: center;
    gap: 1rem;

    cursor: pointer;
}

.social .social-icons div:hover i {
    color: var(--purple-500);

    /* transform: translateY(-10px);     */
}

.social i {
    transition: 0.2s;
    font-size: 30px;
}

/* First Try */

/* .second {
    position: relative;
    height: 130vh;

    
}

.second > div {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.second > div > div {
    background-color: var(--gray-700);
} */

/* Second Try */

/* .first {
    position: relative;
    height: 120vh;

    z-index: -2;
}

.second {
    position: relative;
    height: 130vh;

    z-index: -1;
}

.second > div > div{
    background-color: var(--gray-700);
} */

/* Third Try */

.first {
    position: sticky;
    top: -50vh;
}

.second > div {
    position: sticky;
    top: 0;
}

.second > div > div{
    background-color: var(--gray-700);
}

/* Cursos */

.courses-container {
    display: flex;
    flex-wrap: wrap;

    gap: 2rem;

    padding: 50px;

    color: var(--gray-200);
}

.course {
    position: relative;
    display: flex;
    flex-direction: column;

    gap: 1rem;

    width: calc(90% / 3);

    border-radius: 10px;

    padding: 20px;

    background-color: var(--gray-600);
    overflow: hidden;

    cursor: default;
    transition: 0.5s;
}

.course-title {
    display: flex;
    align-items: center;
    gap: 1rem;

    z-index: 1;
}

.course-title > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    width: 48px;
    height: 48px;


    background-color: var(--this-color);
    border-radius: 100%;
}

.course-title i {
    color: var(--white);

    font-size: 30px;
}

.course p {
    font-size: 20px;

    color: var(--gray-200);

    height: 100%;

    line-height: 1.5rem;

    z-index: 1;
}

.course button {
    background-color: var(--purple-500);

    color: var(--gray-200);

    border-radius: 5px;
    border: none;
    padding: 10px;
    transition: 0.2s;
    width: 100%;
    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
    z-index: 1;
}

.course button:hover {
    background-color: var(--purple-600);
}

.course button:active {
    transform: scale(0.9);
}

.course-bg {
    position: absolute;

    top: 100%;
    left: 100%;

    width: 0%;
    height: 0%;

    z-index: 0;

    border-radius: 10px;

    background: linear-gradient(90deg, var(--purple-600) 0%, var(--purple-700) 100%);
    transition: 0.5s ease-in-out;
}

.course:hover .course-bg {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
}

.dialog {
    z-index: 990;

    background: var(--black-transparent);

    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: fixed;

    top: 0;
}

.dialog > div {
    background-color: var(--gray-600);
    color: var(--white);
    padding: 2rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    gap: 20px;

    z-index: 999;
}

.dialog div form {
    display: flex;
    flex-direction: column;

    gap: 20px;
}   

.dialog div form div {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.dialog div form div label {
    font-size: 20px;
}

.dialog div form div input, .dialog div form div textarea, .dialog div form div select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;

    font-size: 20px;

    color: var(--gray-200);
    background-color: var(--gray-700);

    resize: none;
}

.exit-dialog {
    position: absolute;

    top: 10px;
    right: 10px;

    font-size: 20px;
    color: var(--gray-200);
    cursor: pointer;
}

.exit-dialog:hover {
    color: var(--danger-500);
}

@keyframes openDialog {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
    
}

@keyframes closeDialog {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 1rem;
    padding-right: 2rem;
}