* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #222;
}

.calculator {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(60px, auto);
    color: #222;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}

.screen {
    grid-column: 1 / -1;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    height: 100%;
    width: 310px;
    font-size: 20px;
    color: #222;
    user-select: none;
    border: 3px solid #222;
}

.screen {
    background: linear-gradient(0deg, forestgreen, rgba(34, 139, 34, 0.664));
    background-size: 100% 6px;
    animation: gradient 2s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.previous-operand {
    font-size: 20px;
    color: #aaa;
}

.current-operand {
    font-size: 40px;
    color: #222;
}

.span-two {
    grid-column: span 2;
}

button {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #222;
    font-size: 20px;
    color: #aaa;
}

button:hover {
    background-color: #353535;
}

img {
    width: 30px;
    margin-top: 5px;
    filter: invert(60%);
}
