@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Oswald&family=Roboto&family=Teko&display=swap');

/* The CSS was poorly made. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    user-select: none;
}

:root {
    --font-heading: 'Teko', sans-serif;
    --font-text: 'Roboto', sans-serif;
    --font-title: 'Alumni Sans Pinstripe', sans-serif;
    --font-subtitle: 'Oswald', sans-serif;
    --font-button: 'Poppins', sans-serif;
}

a {
    color: currentColor;
}


.hidden {
    display: none;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo p {
    margin-top: 10px;
    font-size: 2rem;
    font-family: var(--font-heading);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    width: 70%;
    margin-top: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 0 0 10px 10px;
}

.info p {
    font-size: 1.3rem;
    font-family: var(--font-subtitle);
}

.main-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    font-family: var(--font-text);
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: uppercase;
    margin: 0 auto;
    width: 70%;
    height: 50%;
}

.bet-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bet-box img {
    width: 100px;
    height: 100px !important;
    min-height: 100px;
    padding: 10px;
    background-color: white;
}

/* .bet-box .col:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.bet-box .col:nth-child(4) {
    border-right: 1px solid black;
    border-left: 1px solid black;
} */

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.col {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
}


#spin-btn {
    padding: 15px;
    border-radius: 8px;

    font-size: 2rem;
    width: 50%;
    font-family: var(--font-heading);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;

    background-color: #3e9c35;
    color: white;

    border: none;
    cursor: pointer;
}

#spin-btn:hover {
    background-color: #2e7d2e;
}

.money {
    top: 15%;
    left: 66.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: black;
    user-select: none;
}

.money img {
    width: 50px;
    height: 50px;
}

#deposit-btn {
    padding: 15px;
    border-radius: 8px;

    font-size: 2rem;
    font-family: var(--font-heading);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;

    background-color: #3e9c35;
    color: white;

    border: none;
    cursor: pointer;
}

#deposit-btn:hover {
    background-color: #2e7d2e;
}

#row-value {
    padding: 10px;
    font-size: 1.5rem;
}

.flex-colum {
    margin-left: 20px;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
}

#bet-form {
    display: flex;
    flex-direction: column;
}

#bet-form label {
    display: flex;
    font-size: 1.5rem;
    font-family: var(--font-heading);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
}

#bet-form input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 1.5rem;
    width: 80%;
    font-family: var(--font-heading);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
}

.flashing {
    animation: flashing 1s infinite;
}

@keyframes flashing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.spinning {
    animation: spinning 1s forwards;
}

@keyframes spinning {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.row {
    position: relative;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
}

.winlines {
    position: absolute;
    border-top: 5px solid gold;
    border-bottom: 5px solid gold;
    width: 100%;
    height: 35%;
    z-index: 101;
    pointer-events: none;
}

.prices {
    position: absolute;
    top: 20px;
    right: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prices img {
    width: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-heading);
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 20px;
}