
.fadeOut {
    opacity: 0;
    transition: 1s;
}

.loader-main {
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: black;
    /* #212121 */
}.loader-main h1 {
    font-family: var(--ff-01);
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191;
}

.loader {
    --path: #fff; /* #2f3545 */
    --dot: #5628ee;
    --duration: 3s;
    width: 44px;
    height: 100px;
    position: relative;
}
  
.loader:before {
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: var(--dot);
    top: 55px;
    left: 28px;
    transform: translate(-18px, -18px);
    animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
  
.loader svg {
    display: block;
    width: 100%;
    height: 100%;
}
  
.loader svg polygon {
    fill: none;
    stroke: var(--path);
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke-linecap: round;
}
  
.loader svg polygon {
    stroke-dasharray: 145 76 145 76;
    stroke-dashoffset: 0;
    animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader {
    width: 108px;
}
  
.loader:before {
    left: 28px;
    transform: translate(-10px, -18px);
    animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
  
@keyframes pathTriangle {
    33% {
      stroke-dashoffset: 74;
    }
  
    66% {
      stroke-dashoffset: 147;
    }
  
    100% {
      stroke-dashoffset: 221;
    }
}
  
@keyframes dotTriangle {
    33% {
      transform: translate(15px, 20px);
    }
  
    66% {
      transform: translate(40px, -18px);
    }
  
    100% {
      transform: translate(-10px, -18px);
    }
}
  
.loader {
    display: inline-block;
    margin: 0 16px;
}
  
span[class^="dot-"]{
    opacity: 0;
  }

.dot-one{
    animation: dot-one 2s infinite linear
}
.dot-two{
    animation: dot-two 2s infinite linear
}
.dot-three{
    animation: dot-three 2s infinite linear
}
@keyframes dot-one{
    0%{
      opacity: 0;
    }
    15%{
      opacity: 0;
    }
    25%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
}
  
@keyframes dot-two{
    0%{
      opacity: 0;
    }
    25%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
}
  
@keyframes dot-three{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0;
    }
    75%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
}