@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #000;
    --bg-color2: #1a1a1a;
    --bg-color3: #ffffff;

    --text-color: #fff;
    --text-color2: #969696;
    --text-color3: #000;

    --font-fam-primary: 'Oswald', sans-serif;
    --font-fam-secondary: 'Bebas Neue', sans-serif;

    --glass: rgba(255, 255, 255, 0.09);
    --glass-border: 1px solid rgba(255, 255, 255, 0.25);
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: var(--bg-color2);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/* Global */

a {
    color: currentColor;
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    height: 100vh;
    /* scroll-snap-align: start; */
}

/* Header */

header {
    position: fixed;
    top: 25px;

    display: flex;
    justify-content: flex-start;
    margin-left: 4vw;

    width: 100vw;
    font-family: var(--font-fam-secondary);
    font-size: 1.2rem;
    color: var(--text-color3);
    z-index: 101;
    user-select: none;
}

.header-bg {
    width: 90%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;

    border-radius: 25px;
    background-color: var(--bg-color3);
    transition: 1s;
}

.top-header {
    width: 40%;
}

.header-bg img {
    width: 45px;
    height: 45px;
}

.header-bg ul {
    display: flex;
    gap: 20px; 
}

.header-bg ul li {
    position: relative;
}

.header-bg ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 2px;
    width: 100%;
    background: var(--text-color3);
    transform: translateY(-4px);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 350ms ease-in;
}

.header-bg ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.header-bg ul li a.active::after {
    transform: scaleX(1);
    transform-origin: left;
}

.hamburger-button {
    background-color: transparent;
    display: none;
}


/* Home */

#home {
    user-select: none;
}

@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
}

.main-name {
    font-variation-settings: "wght" 100, "ital" 0;
    text-align: center;
    font-family: "Meta", sans-serif;
    font-size: 7rem;
    text-shadow: none;
    transition: all 0.5s;
    text-transform: uppercase;
    -webkit-text-stroke: 4px #d6f4f4;
}

.main-name:hover{
    color: transparent;
    font-variation-settings: "wght" 900, "ital" 1;
    text-shadow: 10px 10px 0px #07bccc,
      15px 15px 0px #e601c0,
      20px 20px 0px #e9019a,
      25px 25px 0px #f40468
}

.carousel-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
    font-family: var(--font-fam-primary);
    font-size: 1.5rem;
    overflow: hidden;
    height: 53px;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    animation: carousel 20s forwards infinite;
}

@keyframes carousel {
    25% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-100%);
    }
    75% {
        transform: translateY(-200%);
    }
    90% {
        transform: translateY(0%);
    }
}

/* Home Arrow */

.arrow-down {
    position: absolute;
    bottom: 7vh;
    font-size: 5rem;
    rotate: 90deg;
    animation: arrow 2s ease-in-out infinite;
    cursor: pointer;
    color: #d6f4f4;
    transition: all 1s;
    filter:saturate(80%);
}

.arrow-down:hover {
    font-variation-settings: "wght" 900, "ital" 1;
    text-shadow: 10px 10px 0px #d6f4f45e;
        /* 0px 0px 70px #d6f4f4,
        -5px 0px 70px #07bccc,
        -10px 0px 70px #e601c0,
        -15px 0px 70px #e9019a,
        -20px 0px 70px #f40468; */
}

@keyframes arrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Home Background */

.main-bg-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: -1;
}

.bg {
    position: absolute;
    inset: 50px;
    opacity: 50%;
    inset: 0;
}


@keyframes jumbo {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
}

.bg {
    --stripesDark: repeating-linear-gradient(
        100deg,
        #000 0%,
        #000 7%,
        transparent 10%,
        transparent 12%,
        #000 16%
    );
    --rainbow: repeating-linear-gradient(
        100deg,
        #60a5fa 10%,
        #e879f9 15%,
        #60a5fa 20%,
        #5eead4 25%,
        #60a5fa 30%
    );
    background-image: var(--stripesDark), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;

    filter: blur(10px) opacity(50%) saturate(200%);

    -webkit-mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
    mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

    pointer-events: none;
}

.bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripesDark), var(--rainbow);
    background-size: 200%, 100%;
    animation: jumbo 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
}

/* About Me */

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-inline: 50px;
    height: 100vh;
    gap: 5px;
    font-family: var(--font-fam-primary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    user-select: none;
}

.about-title {
    text-align: left;
    margin-bottom: 15px;
    letter-spacing: 5px;
    font-size: 2rem;
    font-family: var(--font-fam-secondary);
}

.about-content {
    text-align: left;
    line-height: 1.5;
    color: var(--text-color2);
    font-size: 1.5rem;
    letter-spacing: 3px;
    user-select: none;
}

.about-content .social-icons {
    display: flex;
    gap: 20px;
}

.about-content .social-icons img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    user-select: none;
    filter: invert(100%);
    transition: 0.5s;
}

.about-content .social-icons img:hover {
    transform: scale(1.1);
    filter: invert(0%) drop-shadow(0 0 5px var(--text-color2)) drop-shadow(0 0 5px var(--text-color2)) drop-shadow(0 0 5px var(--text-color2)) !important;
}

/* Projects */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;

    font-family: var(--font-fam-primary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    user-select: none;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.projects-title {
    position: relative;
    margin-bottom: 15px;
    letter-spacing: 5px;
    font-size: 2rem;
    font-family: var(--font-fam-secondary);
}

/* Project Cards */

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;  
    max-width: 916px;
    width: calc(100% - 20px);
    height: calc(20% - 20px);
}
  
#cards:hover > .card::after {
    opacity: 1;
}
  
.card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 375px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
  
.card:hover::before {
    opacity: 1;
}
  
.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}
  
.card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.01),
      transparent 40%
    );
    z-index: 3;
}
  
.card::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.05),
      transparent 40%
    );
    z-index: 1;
}

.card-description {
    font-family: var(--font-fam-secondary);
    position: absolute;
    bottom: 0;
    border-top: 0px;
    width: 100%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 1.3rem;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.5s;
}

.card:hover .card-description {
    border-top: 1px solid rgba(255, 255, 255, 0.2);;
    height: 35%;
}

.date {
    color: var(--text-color2);
    font-size: 1rem;
}

.card-title {
    position: absolute;
    top: 3px;
    font-family: var(--font-fam-secondary);
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    border-radius: inherit;
    height: 80%;
    object-fit: cover;
    width: 90%;
}

/* Skills */

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-inline: 50px;
}

.skills-title {
    margin-bottom: 15px;
    letter-spacing: 5px;
    font-size: 2rem;
    font-family: var(--font-fam-secondary);
    cursor: default;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    gap: 20px;
}

.skills-container img {
    width: 60px;
    height: 60px;
    user-select: none;
    transition: 0.5s;
    filter: invert(80%);
}

.skills-container img:hover {
    filter: invert(100%);
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.skill {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.skill p {
    cursor: default;
    font-size: 2rem;
    font-family: var(--font-fam-secondary);
}

.skill p span {
    color: var(--text-color2);
}


/* contact info */

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-inline: 50px;

    color: var(--text-color2);
    font-size: 1.5rem;
    font-family: var(--font-fam-primary);
}

.contact-box {
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    background: var(--glass);
    border: var(--glass-border);
    border-radius: 20px;
    font-family: var(--font-fam-secondary);
}

.contact-title {
    margin-bottom: 15px;
    letter-spacing: 5px;
    font-size: 2rem;
    cursor: default;
}

.contact-title h1 {
    color: var(--text-color);
}

.contact-title h2 {
    margin-bottom: 15px;
    letter-spacing: 5px;
    font-size: 1.5rem;
    cursor: default;
}

.contact p {
    font-size: 1.5rem;

    transition: 0.5s;
}

.contact p:hover {
    color: var(--text-color);
}

.location a {
    color: var(--text-color2);
    font-size: 1.5rem;
    
    cursor: pointer;
    transition: 0.5s;
}

.location a:hover {
    color: var(--text-color);
}

.contact-info img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
    filter: invert(80%);
}

.contact-info img:hover {
    filter: invert(100%);
}


/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--bg-color2);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer p {
    font-size: 1.5rem;
    font-family: var(--font-fam-secondary);
    color: var(--text-color2);
}

.footer-content .social-icons {
    display: flex;
    gap: 20px;
}

footer a {
    text-decoration: none;
    color: var(--text-color2);
    font-size: 1.5rem;
    font-family: var(--font-fam-secondary);
}

footer img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
    filter: invert(80%);
}

footer img:hover {
    filter: invert(100%) drop-shadow(0 0 5px var(--text-color2)) !important;
}

/* Responsive */

@media screen and (max-width: 665px) {

    .top-header {
        width: 35%;
    }

    .header-bg {
        position: relative;
    }
    .header-bg-active {
        border-radius: 25px 25px 0 0;
    }

    .hamburger-button {
        display: block;
        outline: none;
        border: none;
        cursor: pointer;
    }
    
    .hamburger-button .line {
        transition: 
            transform 300ms ease-in 300ms,
            rotate 300ms ease-in,
            opacity 0ms ease-in 300ms;
        ;
        transform-origin: center;
    }
    
    .hamburger-button[aria-expanded="true"] .line {
        transition: 
            transform 300ms ease-in,
            rotate 300ms ease-in 300ms,
            opacity 0ms ease-in 300ms;
        ;
    }
    
    .hamburger-button[aria-expanded="true"] .top {
        transform: translateY(20px);
    }.hamburger-button[aria-expanded="true"] .bottom {
        transform: translateY(-30px);
    }
    
    .hamburger-button[aria-expanded="true"] .top {
        rotate: 45deg;
    }.hamburger-button[aria-expanded="true"] .middle {
        opacity: 0;
    }.hamburger-button[aria-expanded="true"] .bottom {
        rotate: -45deg;
    }
    
    .nav-ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
    
        background-color: white;
        border-radius: 0 0 25px 25px;
        width: 100%;
        height: 0;
    
        overflow: hidden;
        transition: 1s;
    }
    .nav-ul li {
        width: fit-content;
        margin: 0 0 0 10px;
    }
    
    .active-ul {
        height: 450%;
        padding: 10px;
    }

    /* Skills */

    .skill p {
        font-size: 5rem;
    }

    /* Footer */

    footer {
        padding: 20px;
        height: fit-content;
    }

    footer p {
        font-size: 1.5rem;
    }

    footer a {
        font-size: 1.5rem;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-content .social-icons {
        gap: 5px;
    }

    footer img {
        gap: 0;
        width: 40px;
        height: 40px;
    }

    .footer-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .copyright {
        font-size: 1rem;
    }
}

/* 627 */

@media screen and (max-width: 627px) {
    .main-name {
        font-size: 5rem;
    }

    .arrow-down {
        font-size: 3rem;
    }

    .about-container {
        font-size: 1rem;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-content {
        font-size: 1.2rem;
    }

    .about-content .social-icons img {
        width: 40px;
        height: 40px;
    }

    #projects {
        height: fit-content;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card {
        width: 200px;
        height: 295px;
    }

    .projects-title {
        font-size: 2rem;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-description {
        font-size: 1rem;
    }

    .skills-title {
        font-size: 2rem;
    }

    .skills-container img {
        width: 60px;
        height: 60px;
    }

    .skill p {
        font-size: 1.5rem;
    }
}